<div class="topnav">
    <a> CarFinder</a>
  <a class="active" href="">Home</a>
  <a href="../users/new">Sign In</a>
  <a href="../car_posts/new">New Listing</a>
</div>
<br> <br> <br>


<%@car_posts.each do |cp|%>

<div class="column index_obj" >
        <%= link_to car_post_path(cp) do %>

    <div class="index_img row">

    <p>

    <h1><%=cp.title%></h1>
    <center><%=image_tag cp.photo.thumb.url %></center>

    </p>
    </div>
</div>
<% end %>
<%end%>
