<div class="topnav">
  <a class="active" href="">Home</a>
  <a href="../users/new">Sign In</a>
  <a href="../car_posts/new">New Listing</a>
</div>


<%@car_posts.each do |cp|%>
<div class="column">
<%= link_to car_post_path(cp) do %>

<div style=" width: 300px; height: 200px;
  border: 15px solid lightgrey;
  padding: 50px;
  margin: 20px; box-shadow: 6px 6px 92px -35px rgba(0,0,0,0.75);" class="row" >

<p>

<h1><%=cp.title%></h1>
  <center><%=image_tag cp.photo.thumb.url %></center>

</p>
</div>
</div>
<% end %>
<%end%>
